.portfolio_describe {
  text-align: center;
  max-width: 520px;
  font-family: "CrimsonText-Roman";
  /* fonts - AVO */
  font-size: 24pt;
  color: #000;
  padding-top: 56px;
  margin: 0 auto;
}
.portfolio_nav {
  padding-top: 50px;
  padding-bottom: 58px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio_nav_btn {
  background-color: transparent;
  border: 2px solid #f4c60b;
  color: #000000;
  padding: 20px 26px;
  font-family: "Raleway-Light";
  /* fonts - AVO */
  font-size: 14pt;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.portfolio_nav_btn:not(:last-child) {
  border-right: none;
}
.portfolio_butt {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}
.img_item {
  width: 25%;
  height: 300px;
  float: left;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}
.img_gall {
  margin: 0 auto;
}
.img_gall:after {
  content: "";
  clear: both;
  display: table;
}
.img_show {
  display: block;
}
.active {
  border: 4px solid #f8be00;
}
